/*-----------------------------------ИЗМЕНЕНИЕ ЦВЕТА-----------------------------------*/
.filter {
    filter: hue-rotate(110deg);
}
.anti-filter {
    filter: hue-rotate(-110deg);
}


/*-----------------------------------БАЗОВЫЕ ЭЛЕМЕНТЫ-----------------------------------*/

body {
    background: url(img/background.jpg) #000000 fixed;
}
h1 {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #6CB27F;
    text-align: center;
    font-size: 32px;
    color: #FFFFFF;
}
h2{
    text-align: center;
    color: #364A36;
}
ol,
ul {
    padding-right: 7%;
    padding-left: 13%;
}
li {
    line-height: 1.5;
    text-align: justify;
}
pre {
    margin-left: 7%;
    margin-right: 7%;
    padding-top: 20px;
    padding-right: 3%;
    padding-left: 3%;
    background-color: #EBEFEB;
    font-family: "Courier New", Courier, monospace;
    font-size: 0.85em;
}
p{
    padding-right: 7%;
    padding-left: 7%;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.3;
}


/*-----------------------------------КНОПКИ-----------------------------------*/

/*область кнопок*/
.header_button {
    margin-top: 0;
    padding: 10px;
    background-color: #EBEFEB;
    text-align: center;
    font-size: 20px;
}

/*кнопки*/
.button{
    display: inline-block;
    width: 180px;
    padding: 5px;
    vertical-align: middle;
    background-color: #A0CAAB;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s;
}
.button:hover{
    background-color: #6275f6;
}


/*-----------------------------------ПОЛЬЗОВАТЕЛЬСКИЕ ЭЛЕМЕНТЫ-----------------------------------*/

/*заголовок полосой*/
.stripe {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #A0CAAB;
    text-align: center;
    font-size: 28px;
    color: #FFFFFF;
}

/*оформление кодовых элементов в тексте*/
.cod {
    font-family: "Courier New", Courier, monospace;
    font-size: 17px;
    font-weight: bold;
}

/*формулы в тексте*/
.formula{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

/*список с заданиями*/
.task {
    padding-left: 11%;
}

/*список литературы*/
.lit{
    padding-bottom: 10px;
    font-size: 14px;
}

/*разделительные линии*/
.hr1{
    border: 3px double #D7E5D7;
    margin-right: 7%;
    margin-left: 7%;
}
.hr2{
    border: 2px dotted #D7E5D7;
    margin-right: 7%;
    margin-left: 7%;
}

/*выравнивание элементов*/
.image {
    text-align: center;
}
.video {
    text-align: center;
}


/*-----------------------------------ФУТЕР-----------------------------------*/

/*область футера*/
.footer{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #3F5A3F;
}

/*надпись "Читать текже"*/
.also {
    align-self: flex-start;
    color: #8BA28B;
    font-weight: bold;
    margin-left: 60px;
    padding-top: 5px;
    padding-bottom: 20px;
}

/*область ссылок*/
.href {
    flex-basis: 400px;
    justify-content: flex-start;
    margin-right: auto;
    margin-left: 20px;
}
.href a {
    color: #CCD6CC;
    text-decoration: none;
}
.href a:hover {
    color: white;
}

/*ссылки*/
.hrefs {
    margin-bottom: 5px;
    padding: 5px;
}
.hrefs:hover {
    background-color: #597859;
    text-decoration: none;
    border-radius: 4px;
}

/*автор*/
.auth{
    align-self: flex-end;
    margin-left: 7%;
    margin-right: 5%;
    color: #FFFFFF;
    text-align: right;
    font-size: 12px;
}


/*-----------------------------------ТАБЛИЦА-----------------------------------*/

table {
    margin: auto;
    border-collapse: collapse;
}
th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #A0CAAB;
}
th {
    background-color: #EBEFEB;
    color: #708970;
}
caption {
    caption-side: bottom;
    padding-top: 10px;
    color: #757575;
}


/*-----------------------------------КНОПКА ВВЕРХ-----------------------------------*/

/*кнопка*/
#up::before {
    content: '';
    display: block;
    position: fixed;
    right: 50%;
    bottom: 0;
    width: 50px;
    height: 50px;
    background: #A0CAAB;
    border-radius: 50%;
    transform:
            translateX(527px)
            translateY(-20px);
    opacity: 0.5;
}

/*стрелка на кнопке*/
#up::after {
    content: '';
    display: block;
    position: fixed;
    right: 50%;
    bottom: 0;
    width: 36px;
    height: 36px;
    background: url('img/arrow-top.svg') no-repeat;
    transform:
            translateX(520px)
            translateY(-22px);
    opacity: 0.3;
}

/*длительность изменения*/
#up::before,
#up::after {
    transition-duration: 0.3s;
}

/*наведение на кнопку*/
#up:hover::before {
    background: #6275f6;
    opacity: 1;
}

/*наведение на кнопку - стрелка*/
#up:hover::after {
    opacity: 1;
}


/*-----------------------------------КНОПКА НАЗАД----------------------------------*/

/*кнопка*/
#back-field {
    display: block;
    position: fixed;
    left: 50%;
    top: 0;
    width: 50px;
    height: 50px;
    background: #A0CAAB;
    border-radius: 25px;
    transform:
            translateX(-534px)
            translateY(22px);
    opacity: 0.5;
    transition-duration: 0.3s;
}

/*стрелка на кнопке*/
#back {
    display: block;
    position: fixed;
    left: 50%;
    top: 0;
    width: 36px;
    height: 36px;
    background: url('img/arrow-left.svg') no-repeat;
    transform:
            translateX(-523px)
            translateY(29px);
    opacity: 0.3;
    transition-duration: 0.3s;
}

/*надпись на кнопке*/
#text {
    display: block;
    position: fixed;
    left: 50%;
    top: 0;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: transparent;
    transform:
            translateX(-520px)
            translateY(37px);
    transition-duration: 0.3s;
}

/*наведение на кнопку*/
#pos:hover #back-field {
    width: 140px;
    background: #6275f6;
    transform:
            translateX(-624px)
            translateY(22px);
    opacity: 1;
}

/*наведение на кнопку - стрелка*/
#pos:hover #back {
    transform:
            translateX(-613px)
            translateY(29px);
    opacity: 1;
}

/*наведение на кнопку - текст*/
#pos:hover #text {
    width: 100%;
    transform:
            translateX(-570px)
            translateY(37px);
    color: white;
}