#other-field
 {
    display: none;
}

option[name="science"] {
    display: none;
}

option[name="creation"]{
    display: none;
}

option[name="sport"] {
    display: none;
}

body {
    background: url("img/background.png") #000000;
}

body > div {
    width: 900px;
    margin: auto;
    background: #FFFFFF;
}

h1 {
    background-color: #6CB27F;
    color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 32px;
    margin-bottom: 0;
}

.head{
    margin-top: 0;
    background-color: #EBEFEB;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.button{
    vertical-align: middle;
    padding: 5px;
    background-color: #A0CAAB;
    color: #FFFFFF;
    text-decoration: none;
    width: 200px;
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
}

.button:nth-child(1),
.button:nth-child(2),
.button:nth-child(3),
.button:nth-child(4) {
    margin-bottom: 5px;
}

.button:hover{
    background-color: #F6AC60;
    transition: 0.2s;
}

.header {
    padding-top: 15px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}