body {
    background: url("img/grass.png");
}

#fox  {
    display: block;
    position: absolute;
    top: 45%;
    left: 45%;
    transform: scaleX(-1);
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-property: top, left;
}

#img {
    background: url("img/lisa.png") no-repeat;
    background-size: 150px 138px;
    width: 150px;
    height: 138px;
}

.shadow {
    position: absolute;
    width: 40px;
    height: 15px;
    background: #000000;
    border-radius: 30%;
    opacity: 0.4;
    transform:
            translateY(-10px)
            translateX(25px);
    filter: blur(5px);
}

#CATCH {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

#img1 {
    background: url("img/lisa-catch.png") no-repeat;
    background-size: 150px 138px;
    width: 150px;
    height: 138px;
}

.shadow1 {
    position: absolute;
    width: 100px;
    height: 15px;
    background: #000000;
    border-radius: 30%;
    opacity: 0.4;
    transform:
            translateY(-10px);
    filter: blur(5px);
}