body {
    background: url("img/grass.png");
}

#fox  {
    display: block;
    position: absolute;
    top: 46%;
    left: 46%;
    transform: scaleX(-1);
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-property: top, left;
}

#img {
    background: url("img/lisa.png") no-repeat;
    background-size: 150px 138px;
    width: 150px;
    height: 138px;
}

.shadow {
    position: absolute;
    width: 40px;
    height: 15px;
    background: #000000;
    border-radius: 30%;
    opacity: 0.4;
    transform:
            translateY(-10px)
            translateX(25px);
    filter: blur(5px);
}

#CATCH {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

#img1 {
    background: url("img/lisa-catch.png") no-repeat;
    background-size: 150px 138px;
    width: 150px;
    height: 138px;
}

.shadow1 {
    position: absolute;
    width: 100px;
    height: 15px;
    background: #000000;
    border-radius: 30%;
    opacity: 0.4;
    transform:
            translateY(-10px);
    filter: blur(5px);
}

.field {
    position: absolute;
    top: 40%;
    left: 40%;
    border: 2px dashed white;
    border-radius: 20px;
    user-select: none;
}

.message {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0.2;
}

.text {
    padding: 60px 40px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: white;
    opacity: 1;
}

.text:hover {
    cursor: none;
}

.help {
    padding: 10px;
    background: white;
    border-radius: 5px;
    user-select: none;
}